body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column; /* Alterado para column para melhor responsividade */
}

.container {
  display: flex;
  width: 100%;
}

.drawer {
  width: 250px;
  background-color: #333;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding-top: 20px;
}

.drawer h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  text-align: left;
  width: 100%;
  font-size: 16px;
  padding-top: 5px;
}

.drawer button {
  background-color: #444;
  justify-content: center;
  align-items: center;
  color: white;
  border: none;
  padding: 15px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  font-size: 16px;
}

.drawer button:hover {
  background-color: #555;
}

.videos {
  padding: 20px;
  flex-grow: 1;
}

.video-grid {
  display: flex; /* Alterado para grid para melhor controle */
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
