body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 20%;
  /* margin: 0 auto; */
  padding: 20px;
}

.search-bar {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.search-bar button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  margin-right: 5px;
}

.search-bar button:hover {
  background-color: #0056b3;
}

.video-list,
.favorites-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.video-list .video-item,
.favorites-list .favorite-item {
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  width: calc(33.333% - 20px);
  box-sizing: border-box;
}

.video-list .video-item:hover,
.favorites-list .favorite-item:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
